<% provide(:title, "Blog") %>

<%= link_to "Create a new post", new_post_path if logged_in? %>

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-7 col-md-offset-1 post-preview">
        <%= render @posts %>

        <%= will_paginate %>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <%= render "posts/sidebar" %>
</div>
<!-- /.row -->
