@import "bootstrap-sprockets";
@import "bootstrap";

//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require bootstrap-sprockets
//= require_tree .
//= require_self

.navbar-brand,
.navbar-nav li a {
    padding-top:140px;
}

.navbar {
  background: transparent;
  border: none;
}

.col-md-2, .col-md-8, .col-md-6, .col-md-1 {
  border: 1px solid black;
}

.main-greeting {
  font: 40px solid gray;
}

.smaller-greeting {
  font: 20px solid gray;
}
