@import "bootstrap-sprockets";
@import "bootstrap";



.col-md-2, .col-md-8, .col-md-6, .col-md-1 {
  border: 1px solid black;
}

.main-greeting {
  font: 40px solid gray;
}

.smaller-greeting {
  font: 20px solid gray;
}
